<html>
    <head>        
        <!-- Bootstrap linking-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bookFinderStyle.css') }}">
    </head>
    <body>
        
        <div class="titlecontainer">
            <span class="title">BookListener</span>
        </div>
        <div id="index_button">
            <a href="{{ auth_url }}">
                <button class="spotbutt">Log In</button>
            </a>
        </div>
        <div id="textbox"></div>
    </body>

</html>