<html>
    <head>        
        <!-- Bootstrap linking-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Our js and stylesheet-->
        
        <script src="https://sdk.scdn.co/spotify-player.js"></script>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mockup.css') }}">

        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <div class="round-button" onclick="toggleMic()">
                <div class="round-button-circle">
                    <a class="round-button">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg> -->
                        <i id="mic_icon" class="material-icons-outlined" style="text-align: center; font-size: 35px; color: black;">mic_off</i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="profile-dropdown profile-container">         
            <button class="spotbutt" id="pDropdown"><img width="42" height="42" src="{{ purl }}" alt="me"> &nbsp {{ pname }} </button>
            <div class="profile-dropdown-content">
                <div><a href="/currently_playing">Whats playing</a></div>
                <div><a onclick="playSong('/start_playing')">Make a hardcoded specific song play</a></div>
                <div><a href="#" id="start_device">Start This Device</a></div>
                <div><a onclick="startPlayer()">start the player</a></div>
                <div><a id="curr_state">Console Log Current Player State</a></div>



                <div><a href="/sign_out">Sign Out</a></div>
            </div>
        </div>



        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Playlists
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" href="#">Happy</button> </br>
              <button class="dropdown-item" href="#">Sad</button> </br>
              <button class="dropdown-item" href="#">Mad</button>
            </div>
        </div>

        <div id="playerbox">
            <img id="album_art" src="">&nbsp</img>
            <div id="song_title">No Current Song Playing</div>
            <div id="playback_buttons">
              <i id="skip_backward" class="glyphicon glyphicon-step-backward"></i>
              <i id="pp_toggle" class="glyphicon glyphicon-play"></i>
              <i id="skip_forward" class="glyphicon glyphicon-step-forward"></i>
            </div>
        </div>


        <div id="snackbar">Bottom Text</div>
          
    </body>
    <script src="{{url_for('static', filename='web_player.js')}}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/juliusjs/dist/julius.js') }}"></script>
    <script src="{{url_for('static', filename='loggedin.js')}}"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>

</html>