<html>
    <head>
        <!-- Bootstrap linking-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Our js and stylesheet-->


        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bookFinderStyle.css') }}">
        <script src="loggedin.js"></script>
        <!-- <script>const playlists = {{ user_playlists }}; </script> -->

    </head>
    <body>
        <div class="container center">
  	        <img src="https://images.unsplash.com/photo-1485990005353-9abcf694f3e7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0OTg4NTk5OQ&ixlib=rb-1.2.1&q=85" 
	        alt="Snow"
	        width="80%">
	        <div class="btns">
		        <div class="btn center">
			        <input type="file" nam="file" id="file" class="myclass"/>
			        <label for="file">Choose a file</label>
		        </div>
        <br><br>
		        <div class="btn center">
			        <button class="myclass" onclick="myFunction()" id="text" >Paste Text</button>
			        <label for="text">Enter text</label>
			        <div id="myDIV" style="display: none">
			            </br>
			            <label for="inputtext">Enter Text:</label>
			            <input type="text" id="name" name="name" size="100">
			        </div>
		        </div>
	        </div>
        </div>
    </body>

    <script src="{{url_for('static', filename='web_player.js')}}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/juliusjs/dist/julius.js') }}"></script>
    <script src="{{url_for('static', filename='loggedin.js')}}"></script>


</html>