/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.myclass {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.myclass + label {
    font-size: 2em;
    font-weight: 700;
    color: white;
    background-color: #1DB954;
    border-radius: 1000px;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    border-color: #1DB954;
    border: 2px solid #1DB954;
}

.myclass:focus + label,
.myclass + label:hover {
    background-color: white;
    color: #1DB954;
	
}

.pastebtn {
    font-size: 2em;
    font-weight: 700;
    color: white;
    background-color: #1DB954;
    border-radius: 1000px;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    border-color: #1DB954;
    border: 2px solid #1DB954;
}

.pastebtn:focus,
.pastebtn:hover {
    background-color: white;
    color: #1DB954;
}

.pastepressed {
  display: "none"
}

.center {
  margin: auto;
  padding: 10px;
}


.off {
  display: none;
}

.displayMenu {
  color: black;
}
.centerMenu {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
}

.bckgMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.24)
}